


<suite name = "ToDo App Test Cases">
    <test name = "Sample Test Case Scenario">

        <parameter name = "platform_name"       value = "Android" />
        <parameter name = "platform_version"    value = "8.1.0" />
        <parameter name = "device_name"         value = "emulator-5554" />

        <classes>
            <class name = "com.ToDo.testCases.TestCase01_Sign_up_to_the_app" />
            <class name = "com.ToDo.testCases.TestCase02_Login_to_the_app" />
            <class name = "com.ToDo.testCases.TestCase03_Can_add_new_task_after_login" />
        </classes>
    </test>
</suite>